<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <link rel="stylesheet" href="style.css">
<title>ANGULAR JS TASK</title>
<style>

</style>
</head>

<body ng-app="EmpApp" ng-controller="EmpController">
<div class="container-fluid">

<div class="row">
<div class="col-md-3">
<ul class="nav">
    <li><a href="" onclick="emp()">EMPLOYEE</a></li>
    <li><a href="" onclick="com()">COMPANY</a></li>
  </ul>
</div>
<div class="col-md-9">


  <div id="employee">
  <table border="1" cellspacing="2" cellpadding="1" class="table table-hover">
    <thead>
      <th>EMP NAME</th>
      <th>EMP ROLE</th>
      <th>EMP DEPT</th>
      <th>EMP TYPE</th>
      <th></th>
    </thead>
    <tbody ng-repeat="Emp in Emps">
      <tr>
        <td>{{Emp.ename}}</td>
        <td>{{Emp.edepartment}}</td>
        <td>{{Emp.erole}}</td>
        <td>{{Emp.etype}}</td>

        <td>
          <a href="javascript:void(0);" ng-click="editEmp($index)">Edit</a>
          <a href="javascript:void(0);" ng-click="deleteEmp($index)">delete</a>
        </td>
      </tr>
    </tbody>
  </table>
<center><input type="button" class="btn btn-default" id="button" value="ADD EMPLOYEE" onclick="formdis()"></center>

<div id="empform">

    <div class="row">
      <div class="col-md-3">
      </div>
    <div class="col-md-6">
      <form novalidate name="form" ng-submit=" addEmp(Emp)" class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-4">Emp Name</label>
          <div class="col-sm-8">
          <input type="text" class="form-control" ng-model="Emp.ename"  placeholder="EMPLOYEE NAME" required />
        </div>
        </div>



        <div class="form-group">
          <label class="control-label col-sm-4">Emp Department</label>
          <div class="col-sm-8">
          <input type="text" class="form-control" ng-model="Emp.edepartment" placeholder="EMPLOYEE DEPARTMENT" required />
        </div>
        </div>


        <div class="form-group">
          <label class="control-label col-sm-4">Emp Role</label>
       <div class="col-sm-8">
          <input type="text" class="form-control" ng-model="Emp.erole" placeholder="EMPLOYEE ROLE" required />
        </div>
        </div>



        <div class="form-group">
          <label class="control-label col-sm-4">Emp Type</label>
          <div class="col-sm-8">
          <input type="text" class="form-control" ng-model="Emp.etype" placeholder="EMPLOYEE TYPE" required />
        </div>
        </div>
        <div>

          <input type="button" value="Update" ng-click="updateEmp(Emp)" ng-hide="editId==undefined" id="button" class="btn btn-default"/>
          <input type="submit" value="Save" ng-show="editId==undefined" class="btn btn-default"/>

        </div>
      </form>
    </div>
    <div class="col-md-3">
    </div>
    </div>
  </div>
</div>







<div id="company">
<table border="1" cellspacing="2" cellpadding="1" class="table table-hover">
  <thead>
    <th>COMP NAME</th>
    <th>COMP LOCATION</th>
    <th>EMP TYPE</th>
    <th></th>
  </thead>
  <tbody ng-repeat="Comp in Comps">
    <tr>
      <td>{{Comp.cname}}</td>
      <td>{{Comp.cloc}}</td>
      <td>{{Comp.ctype}}</td>

      <td>
        <a href="javascript:void(0);" ng-click="editComp($index)">Edit</a>
        <a href="javascript:void(0);" ng-click="deleteComp($index)">delete</a>
      </td>
    </tr>
  </tbody>
</table>
<center><input type="button" class="btn btn-default" id="button" value="ADD COMPANY" onclick="Compformdis()"></center>

<div id="Compform">

  <div class="row">
    <div class="col-md-3">
    </div>
  <div class="col-md-6">
    <form novalidate name="form" ng-submit="form.$valid && addComp(Comp)" class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-sm-4">COMPANY Name</label>
        <div class="col-sm-8">
        <input type="text" class="form-control" ng-model="Comp.cname"  placeholder="COMPANY NAME" required />
      </div>
      </div>



      <div class="form-group">
        <label class="control-label col-sm-4">COMPANY LOCATION</label>
        <div class="col-sm-8">
        <input type="text" class="form-control" ng-model="Comp.cloc" placeholder="COMPANY LOCATION" required />
      </div>
      </div>



      <div class="form-group">
        <label class="control-label col-sm-4">COMPANY TYPE</label>
        <div class="col-sm-8">
        <input type="text" class="form-control" ng-model="Comp.ctype" placeholder="COMPANY TYPE" required />
      </div>
      </div>

      <div ng-hide="form.$valid">Form is Invalid</div>
      <div>

        <input type="button" value="Update" ng-click="updateComp(Comp)" ng-hide="editId==undefined" id="button1" class="btn btn-default"/>
        <input type="submit" value="Save" ng-show="editId==undefined" class="btn btn-default"/>

      </div>
    </form>
  </div>
  <div class="col-md-3">
  </div>
  </div>
</div>
</div>


</div>
</div>
    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
  <script src="script.js"></script>






</div>

</body>
</html>
