#navhead {
  background-color: #000000;
  border-color: #000;
}


.table>thead:first-child>tr:first-child>th {
  text-align: center;
}

.tableheader {
  padding-bottom: 2%;
}

#empidform, #empnameform, #empposform, #comidform, #comnameform, #composform, #empsybmitform, #comsybmitform, #comeditorcommands, #newcomidform, #newcomnameform, #newcomposform {
  width: 24%;
  /*margin-right: 8px;*/
  margin-bottom: 2%;
  text-align: center;
  border-radius: 5px;
  margin-top: 1%;
  margin-left: 1%;
}

#newcomtitle {

  padding-top: 1%;
}

#empsybmitform, #comsybmitform {
  color: black;

  border-radius: 10px;
  border-color: black;
}

#newempinput, #newcominput {
  padding-left: 10px;
}

.form-control {}

.tabletitle {
  display: inline-block;
  padding-left: 2%;
  padding-right: 2%;
}

.tablelogo {
  width: 8%;
}

#commontablehead {
  margin-bottom: 0;
}

p {
  display: inline;
  text-align: center;
  padding-left: 5.6%;
}

#companyeditor, #newcompanyeditor {
  margin-top: -1.2%;

  text-align: left;
}

#comidform #comnameform #composform #comeditorcommands #newcomidform #newcomnameform #newcomposform {
  margin-top: 2%;
}

#commontablehead #employeetable td, tr, th {
  text-align: center;
  width: 15%;
  color: black;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  width: 15%;
}
