<!DOCTYPE html>
<html>
<head>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl"> 

<p>Today's welcome message is:</p>
<h1>{{myWelcome}}</h1>

</div>
<body>
<script>
var app = angular.module('myApp', []);

//("http://localhost:8080/JerseyHibernatePrj/rndService/getRndRecords")
app.controller('myCtrl', function($scope, $http) {
    $http.get("http://maps.googleapis.com/maps/api/geocode/json?address=chennai")
    .then(function(response) {
        $scope.myWelcome = response.data;
    });
});
</script>