table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-size: 100%;
}

td, th {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px 20px;
}

th {
  background-color: rgb(230, 235, 235);
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: rgb(250, 250, 250);
}

tr:nth-child(odd) td {
  background-color: rgb(245, 245, 245);
}

.asc:after, .desc:after {
  content: ' ';
  position: relative;
  left: 2px;
  border: 8px solid transparent;
}

.desc:after {
  top: 10px;
  border-top-color: black;
}

.asc:after {
  bottom: 15px;
  border-bottom-color: black;
}
