<!doctype html>
<html>
<head>
	<title>My Book Store</title>
	
</head>
<body ng-app="bookStoreApp" ng-controller="bookStoreController">
	<form novalidate name="form" ng-submit="form.$valid && addBook(book)">
		<div>
			<label>Title</label>
			<input type="text" ng-model="book.title" required />
		</div>
		<div>
			<label>Author</label>
			<input type="text" ng-model="book.author" required />
		</div>
		<div>
			<label>Cost</label>
			<input type="number" ng-model="book.cost" required />
		</div>
		<div ng-hide="form.$valid">Form is Invalid</div>
		<div>
			<input type="submit" value="Save" ng-show="editId==undefined"/>
			<input type="button" value="Update" ng-click="updateBook(book)" ng-hide="editId==undefined" />

		</div>
	</form>

	<table border="1" cellspacing="2" cellpadding="1">
		<thead>
			<th>Title</th>
			<th>Author</th>
			<th>Cost</th>
			<th></th>
		</thead>
		<tbody ng-repeat="book in books">
			<tr>
				<td>{{book.title}}</td>
				<td>{{book.author}}</td>
				<td>{{book.cost | currency}}</td>
				<td>
					<a href="javascript:void(0);" ng-click="editBook($index)">Edit</a>
					<a href="javascript:void(0);" ng-click="deleteBook($index)">delete</a>
				</td>
			</tr>
		</tbody>
	<table>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
<script src="book.js"></script>
</body>
</html>
